<style>
html {
  scroll-behavior: smooth;
}

d-article.d-article-with-toc {
  contain: none;
  padding-bottom: 0;
}

.d-article-with-toc .d-contents-float {
  position: fixed;
  top: 3em;
  left: 0;
  z-index: 50;
  height: calc( 100vh - 6em );
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#TOC {
  background: #ebebeb;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Hide the ToC when resized to mobile or tablet:  480px, 768px, 900px */
@media screen and (max-width: 1600px) {
  .d-article-with-toc .d-contents-float {
    position: relative;
    height: unset;
    max-height: 500px;
    top: unset;
  }
}

.ul-compact li {
  margin-top: 0;
  margin-bottom: 0;
}

.l-page,
.l-screen,
.l-screen-inset {
  z-index: 60;
  position: relative;
}

.pt-0 {
  padding-top: 0;
}

.pd-0 {
  padding-bottom: 0;
}
</style>
