<style>
html {
  scroll-behavior: smooth;
}

d-article.d-article-with-toc {
  contain: none;
}

.d-article-with-toc .d-contents-float {
  position: fixed!important;
  top: 3em!important;
  left: 0!important;
  z-index: 50!important;
  height: calc( 100vh - 6em )!important;
  overflow-y: auto!important;
  scrollbar-width: none!important;
  -ms-overflow-style: none;
}

#TOC {
  background: #ebebeb;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Hide the ToC when resized to mobile or tablet:  480px, 768px, 900px */
@media screen and (max-width: 1600px) {
  .d-article-with-toc .d-contents-float {
    position: relative!important;
    height: unset!important;
    max-height: 500px;
    top: unset!important;
  }
}

.ul-compact li {
  margin-top: 0;
  margin-bottom: 0;
}

.l-page,
.l-screen,
.l-screen-inset {
  z-index: 60;
  position: relative;
}

.pt-0 {
  padding-top: 0!important;
}

.pd-0 {
  padding-bottom: 0!important;
}
</style>
